<template>
  <div>
    <TopBar />
    <div class="main-container">
      <router-view />
    </div>
    <NavBar />
  </div>
</template>

<script>
import NavBar from './components/NavBar.vue'
import TopBar from './components/TopBar.vue'

export default {
  data () {
    return {}
  },
  components: {
    NavBar,
    TopBar,
  },
}
</script>

<style lang="scss">
  @charset "utf-8";
  @import "~bulma/bulma";

  html, body {
      font-family: 'Roboto', sans-serif;
      width: 400px;
      min-height: 545px;
      background-color: #fafafa;
  }

  ::-webkit-scrollbar-track
  {
    background-color: #f8f8f8;
  }

  ::-webkit-scrollbar
  {
    width: 6px;
    background-color: #f8f8f8;
  }

  ::-webkit-scrollbar-thumb
  {
    background-color: #e4e4e4;
  }
  
  .main-container {
      margin: 55px 0px;
  }

  .router-link-exact-active, 
  .router-link-active {
    background: #fff !important;
  }

  .router-link-exact-active svg {
    fill: #333333;
  }

</style>


