<template>
  <OfferList :host="host" :isBackButton="isBackButton" />
</template>

<script>
import OfferList from '../../components/OfferList'

export default {
  components: {
    OfferList,
  },
  data () {
    return {
      host: null,
      isBackButton: false
    }
  },
  methods: {
    getCurrentTabHostname() {
      let self = this;
      return new Promise((resolve, reject) => {
        chrome.tabs.query({ active:true, currentWindow:true }, function(tabs) {
          const currTab = tabs[0];
          if ( currTab ) {
              const host = new URL(String(currTab.url));
              const cleaned = self.cleanHostname(host.hostname);
              resolve(cleaned)
          }
        })
      })
    },
    cleanHostname(url) {
      return url.replace(/^(?:https?:\/\/)?(?:www\.)?/i, "").split('/')[0];
    },
  },
  async created() {
    this.host = this.getCurrentTabHostname()
  },
}
</script>
