<template>
  <OfferList :host="host" :isBackButton="isBackButton" />
</template>

<script>
import OfferList from '../../components/OfferList'

export default {
  components: {
    OfferList,
  },
  data () {
    return {
      host: null,
      isBackButton: true
    }
  },
  methods: {
  },
  async created() {
    this.host = this.$route.params.name
  },
}
</script>
