<template>
<div>
    <ais-instant-search class="store-search-container" :search-client="searchClient" index-name="stores" >
        <ais-search-box placeholder="Type store name here" />
          <ais-hits>
            <div slot="item" slot-scope="{ item }">
              <router-link :to="{ name:'store', params: { name: item.name } }">
                <img class="img-shop" :src="item.image" alt="">
              </router-link>
            </div>
          </ais-hits>
          <div class="more-stores">
            <p>See all stores on <a :href="link" target="_blank">site</a> or use search</p>
          </div>
    </ais-instant-search>
</div>
</template>

<script>
import algoliasearch from 'algoliasearch/lite';
import 'instantsearch.css/themes/algolia-min.css';
export default {
  data () {
    return {
        searchClient: algoliasearch(
            'AFSNKRKZVM',
            '28bd4d11647d2caee5196004c75cc056'
        ),
        link:'https://spot.shopping/stores'
    }
  }
}
</script>

<style lang="scss">
  .more-stores {
    margin: 25px auto;
    text-align: center;
    p {
      font-size: 0.8em;
      color: #707070;
    }
  }
  .store-search-container {
    padding: 15px 30px;
  }

  .ais-Hits {
    margin-top: 15px; 
  }

  .ais-SearchBox-input::placeholder {
      color: #707070;
  }
  
  ol.ais-Hits-list {
    display: flex;
    flex-wrap: wrap;
  }

  li.ais-Hits-item {
    flex: 1 0 40%;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
  }

  li.ais-Hits-item:hover {
    transform: translate(-2px,2px);
    cursor: pointer;
  }

  .img-shop {
    display: block;
    margin: 0 auto;
  }

</style>