<template>
<nav class="navbar nav-bottom" role="navigation" aria-label="main navigation">
  <div class="navbar-menu is-active">
    <div class="navbar-start">
      <router-link to="/" class="navbar-item">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="50px" height="50px"><path d="M 24.962891 1.0546875 A 1.0001 1.0001 0 0 0 24.384766 1.2636719 L 1.3847656 19.210938 A 1.0005659 1.0005659 0 0 0 2.6152344 20.789062 L 4 19.708984 L 4 46 A 1.0001 1.0001 0 0 0 5 47 L 18.832031 47 A 1.0001 1.0001 0 0 0 19.158203 47 L 30.832031 47 A 1.0001 1.0001 0 0 0 31.158203 47 L 45 47 A 1.0001 1.0001 0 0 0 46 46 L 46 19.708984 L 47.384766 20.789062 A 1.0005657 1.0005657 0 1 0 48.615234 19.210938 L 41 13.269531 L 41 6 L 35 6 L 35 8.5859375 L 25.615234 1.2636719 A 1.0001 1.0001 0 0 0 24.962891 1.0546875 z M 25 3.3222656 L 44 18.148438 L 44 45 L 32 45 L 32 26 L 18 26 L 18 45 L 6 45 L 6 18.148438 L 25 3.3222656 z M 37 8 L 39 8 L 39 11.708984 L 37 10.146484 L 37 8 z M 20 28 L 30 28 L 30 45 L 20 45 L 20 28 z"/></svg>
      </router-link>
      <router-link to="/stores" class="navbar-item">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="50px" height="50px"><path d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"/></svg>
      </router-link>
    </div>
  </div>
</nav>
</template>

<script>
export default {
    
}
</script>
<style lang="scss" scoped>
    nav {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        .is-active {
            display: block;
        }
        .navbar-start {
            display: flex;
            justify-content: space-evenly;
        }
        a.navbar-item {
            color: #404040;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: .05em;
            font-size: 0.9em;
        }
        a.navbar-item:hover,
        a.navbar-item:active {
          background: #fff;
          color: #f01e3f;
        }
    }
    .navbar {
      min-height: 0;
    }
    .nav-bottom {
      border-top: 1px solid #dedede; 
    }
    svg {
      width: 25px;
      height: 25px;
      fill: #7c7c7c;
      margin-top: 2px;
    }
    svg:hover {
      fill: #202020;
    }
    @media screen and (max-width: 1023px) {
      .navbar-menu {
        background-color: white;
        box-shadow: none;
        padding: 0;
      }
    }
</style>