<template>
    <div>
        <div v-if="Object.keys(offerList).length === 0">
        <div class="sorry-block">
                <h2>Sorry,<br />we doesn't support this site yet</h2>
                <img src="/icons/no-store.png" alt="" />
                <h3>You can find available stores <router-link to="/stores">here</router-link></h3>
        </div>
        </div>
        <div v-else>
        <div class="post-nav">
            <div class="info">
              <div>
                <a v-if="offerList.deepLink && offerList.deepLink.length > 0" :href="offerList.deepLink" target="_blank">
                  <img :src="offerList.image" alt="">
                </a>
                <img v-else :src="offerList.image" alt="">
              </div>
              <div v-if="isBackButton"><router-link to="/stores"><p>Back</p></router-link></div>
              <div v-if="!isBackButton">
                <label class="checkbox">
                    <input type="checkbox" v-model="offerList">
                    <p>Show all</p>
                </label>
              </div>
            </div>
        </div>
        <div class="card-list" >
            <div class="card" v-for="(item, index) of offerList.offers" :key="`offer-${index}-${item.offerUnique}`">
            <div class="card-content" @click.stop.prevent="handleClick(item, index)">
                <p class="title is-6" 
                v-if="item.type === `Deal`"
                v-html="item.title">{{item.title}}</p>
                <p class="title is-6 code"  
                v-if="item.type === `Code`">{{item.code}}</p>
                <input  
                v-if="item.type === `Code`" 
                type="hidden" 
                :id="`copy-code-${index}`" 
                :value="item.code">
                <div class="content" v-html="item.description">{{item.description}}</div>
                <p class="when-copy" :id="`show-msg-${index}`">Copied!</p>
            </div>
            </div>
        </div>
        </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
const TIME_BORDER = 5

export default {
    props: ['host', 'isBackButton'],
    data() {
        return {
          hostname: null
        }
    },
    methods: { 
        handleClick(offer, index) {
          switch (offer.type) {
            case 'Code':
              this.handleCode(offer, index)
              break;
            case 'Deal':
              this.handleDeal(offer)
              break;
            default:
              break;
          }
        },
        handleCode(offer, index) {
          
            // first need copy text to clipboard
            let codeToCopy = document.querySelector(`#copy-code-${index}`);
            let msgToShow = document.querySelector(`#show-msg-${index}`);
            codeToCopy.setAttribute('type', 'text');
            codeToCopy.select();

            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';
                //console.log('code was copied ' + offer.code);
                msgToShow.classList.add("in");
                setTimeout(() => {
                  msgToShow.classList.remove("in");
                  msgToShow.classList.add("out");
                }, 400)
                msgToShow.classList.remove("out");

            } catch (err) {
                console.error('Oops, unable to copy', err);
            }

            codeToCopy.setAttribute('type', 'hidden');
            window.getSelection().removeAllRanges();

            /*
            const time  = this.getMoment.time
            const link  = this.getMoment.link

            console.info('TIME', time, 'LINK', link)

            const currTime    = Math.floor(new Date().getTime()/1000);
            const diffTime    = Math.floor((currTime - time)/60);

            console.info('CURRENT TIME ', currTime)
            console.info('DIFFERENCE TIME ', diffTime)

            if ( ( link && link.length > 0 ) &&  diffTime >= TIME_BORDER ) {
              // do magic
                //chrome.tabs.create({ url: link })
                //window.open(link, '_blank')
                //window.focus();
              // update storage
              this.$store.dispatch('updateStoreClickStorage', this.hostname)
            } */
        },
        handleDeal(offer) {
          const link = offer.affiliateLink === undefined ? offer.link : offer.affiliateLink;
          chrome.tabs.create({ url: link })
        },
        ...mapActions(['getStoreFeedFromStorage']) 
    },
    computed: {
        offerList: {
            get() {
                return this.$store.state.storeFeed
            },
            set (value) {
                this.$store.commit('FILTER_OFFERS', { value })
            }
        },
        //...mapGetters(['getMoment'])
    },
    async created() {
        const host = await this.$props.host
        this.hostname = host
        await this.getStoreFeedFromStorage(host)
        //await this.updateStoreClick(host)
    },
}
</script>

<style lang="scss" scoped>
  .sorry-block {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    min-height: 200px;

    h2 {
      text-align: center;
      font-weight: 300;
      font-size: 1.2em;
      letter-spacing: 0.04em;
      color: #464646;
    }

    h3 {
      text-align: center;
      font-weight: 300;
      font-size: 0.8em;
      color: #757575;
    }
    
  }

  .post-nav {
    display: flex;
    background: #fff;
    border-bottom: 1px solid #dedede;
    justify-content: center;
    .info {
      display: flex;
    }
    .info > div {
      padding: 5px 40px;
      display: flex;
      align-items: center;
      a p {
        font-size: 0.9em;
        letter-spacing: 0.02em;
        font-weight: 400;
        color: #484848;
        text-decoration: underline;
      }
    }
    img {
      width: 50px;
      height: auto;
    }
  }

  .card-list {
    padding: 10px;
    .card {
      margin: 5px 0 ;
      cursor: pointer;
      border-radius: 5px;
      border: 1px solid #dedede;
    }
    .card:hover {
      transform: translate(-1px,1px);
    }
  }

  .card-content {
    font-size: 0.8em;
    letter-spacing: 0.02em;
    font-weight: 300;
  }

  .code {
    border: 1px solid #d0d0d0;
    max-width: 50%;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    background: #fafafa;
    font-size: 0.9em !important;
  }

  .title {
    font-size: 1em;
    color: #484848;
    font-weight: 400px;
  }

  label.checkbox{
    display: flex;
    align-items: center;
    p {
      padding-left: 4px;
      font-size: 0.8em;
      letter-spacing: 0.02em;
      font-weight: 300;
    }
  }

  .when-copy {
    color: #E5314E;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
    margin-top: 30px;
    font-weight: 400;
    opacity: 0;
  }

  .in {
    opacity: 1;
    transition: 0.35s ease-in-out;
  }

  .out {
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }
</style>