<template>
<nav class="navbar nav-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <div class="img-brand"></div>
    </a>
    <a class="w-close" href="" v-on:click="handleClose()"><img src="/icons/close-window.png" alt=""></a>
  </div>

</nav>
</template>

<script>
export default {
    data() {
      return {}
    },
    methods: {
      handleClose() {
        window.close();
      }
    }
}
</script>
<style lang="scss" scoped>
    nav {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        .navbar-brand {
          justify-content: center;
        }
        a.navbar-item {
            color: #404040;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: .05em;
            font-size: 0.9em;
        }
        a.navbar-item {
          cursor: unset;
        }
        a.navbar-item:hover,
        a.navbar-item:active {
            background: #fff;
            color: #f01e3f;
        }
        .img-brand {
          background: url("/icons/brand.png") no-repeat;  
          display: block;
          text-indent: -9999px;
          width: 190px;
          height: 26px;
          background-size: 190px 26px;
        }
        .w-close {
          position: absolute;
          top: 16px;
          right: 15px;
          display: block;
          img {
            width: 16px;
            height: 16px;
          }
        }
    }
    .nav-top {
      border-bottom: 1px solid #dedede; 
    }
</style>